@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
body {
    background-image: linear-gradient(rgb(123, 164, 202), rgb(149, 217, 229), rgb(16, 148, 172));
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.text {
    color: rgb(233, 224, 224);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 5px black, 1px 1px 5px red;
}

.container {
    border: 20px rgb(113, 165, 233) solid;
    border-radius: 10px;
    border-style: outset;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    background-image: linear-gradient(rgb(113, 187, 255), rgb(37, 136, 182));
}

#toDoContainer {
    margin-top: 5px;
}

#addToDo {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 169, 236);
    border: none;
    float: right;
    width: 25%;
    padding: 11.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(0, 0, 0), 5px 5px 5px red;
    text-shadow: 5px 5px 5px rgb(0, 0, 0), 5px 5px 5px red;
}

#addToDo:hover {
    transform: scale(1.1);
}

#inputfield {
    width: 70%;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-height: 60%;
    max-width: 60%;
    float: right;
    cursor: pointer;
}

img:hover {
    transform: scale(1.1);
}

#complete-icon {
    max-height: auto;
    max-width: 95%;
    float: right;
}

#delete-icon {
    max-height: auto;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(44, 82, 255);
    box-shadow: 2px 5px 50px black;
    background-image: linear-gradient(rgb(113, 187, 255), rgb(37, 136, 182));
}

table th {
    padding-left: 20px;
    text-align: left;
    width: 60%;
    color: white;
    background-image: linear-gradient(rgb(113, 187, 255), rgb(37, 136, 182));
    font-family: 'Calligraffitti', cursive;
    letter-spacing: 2px;
    text-shadow: 2px 1px 5px #FF0000, 2px 1px 5px #0000FF;
}

table tr:hover {
    transform: scale(1.02);
    box-shadow: 2px 1px 10px #FF0000, 2px 1px 10px #0000FF;
}

table td {
    background-image: linear-gradient(rgb(113, 187, 255), rgb(37, 136, 182));
    width: 5%;
}

footer {
    bottom: 100%;
}